*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
   height: 100%;
 
}

.orange{
  color: rgb(238, 174, 56);
}

.container{
height: 100%;
width: 100%;
background-image: url(https://images.pexels.com/photos/32919385/pexels-photo-32919385.jpeg);
background-size: 100% 100%;
display: flex;
align-items: center;
justify-content: center;
}

.container2{
  height: 70%;
  width: 40%;
  background-color: #1f1e1e;
  border-radius: 10px;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 opacity: 0.85;
}

.container2 header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
}

.searchdiv{
  width: 100%;
  padding: 10px 20px;
}

.searchdiv input{
  width: 85%;
  height: 27px;
  border-radius: 15px;
 border: none;
 padding: 0 25px;
}

.searchdiv button{
  padding: 8px 13px;
  border-radius: 20px;
  border: none;
  background-color:  rgb(231, 170, 57);;
}
.searchdiv button:active{
  scale: 1.01;
}

.informationdiv{
  display: flex;
  height: 30%;
  width: 90%;
  background-color: #111010;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
  gap: 20px;
}

.informationdiv h1{
  font-weight: bolder;
}

.informationdiv h4{
  font-size: large;
  font-weight: bold;
}

.imgdiv{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.imgdiv img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.cards{
  height: 40%;
  width: 90%;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.card{
 background-color: #111010;
  width: 30%;
   border-radius: 10px;
   text-align: center;
}

.card h1{
  font-size: 1.03rem;
   font-weight: bolder;
   font-family:Arial, Helvetica, sans-serif;
   margin-top: 10px;
}

.cardinfo{
  margin-top: 50px;
  font-weight: bold;
  color: white;
  font-size: medium;
   font-family:Arial, Helvetica, sans-serif;
}

@media (max-width:600px) {
  .container2 {
    height: 60%;
   width: 70%;
  }
  .container2 header h1{
    font-size: 1.5rem;
  }
  .container2 header p{
    margin-top: 5px;
    text-align: center;
  }
  .searchdiv input{
    width: 100%;
  }
  .searchdiv button{
    position: relative;
    left: 39%;
    top: 10%;
  }
  .informationdiv{
    height: 20%;
  }
  .informationdiv h1{
    font-size: larger;
   
  }
  .informationdiv h4{
    font-size: small;
  }
  .cards{
    height: 30%;
  }
  .card h1{
    font-size: small;
  }
  }

  @media (max-width:293px) {
    .container2 header h1{
      font-size: large;
    }
    .container2 header p{
      font-size: small;
    }
  }

  @media (max-width:395px) {
    .informationdiv h1{
      font-size: medium;
    }
    .informationdiv h4{
    font-size: small;
  }
  }

  @media (max-width:357px) {
    .container2 header h1{
      font-size: large;
    }
    .informationdiv{
      display: flex;
      gap: 5px;
    }
    .informationdiv h4{
    font-size: smaller;
  }
  }

  