*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
main{
     height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 35%;
    align-items:center ;
    justify-content: center;
}
.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.container div{
    padding: 20px;
    margin-top: 30px;
}
.option-btn{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
    color: orange;
   margin-left: 10px;
    font-family: Arial, Helvetica;
    font-size: medium;
    cursor: pointer;
}
.option-btn:active{
    scale: 1.01;
}

.breakfast-container{
    height: 65%;
    display: flex;
    flex-wrap: wrap;
}

.outer-breakfast{
    display: flex;
    padding: 0 30px;
    width: 50%;
}

.content-image{
    height: 200px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid orange;
    cursor: pointer;
}

.description-div{
    padding: 0px 10px;
}
.description-div div{
    display: flex;
    justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 5px 0;
}

.description-div h4{
    font-size: large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description-div div span{
   position: relative;
    font-size: medium;
    font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description-div p{
    margin-top: 30px;
}