*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.container{
     height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.card-container{
    height: 70%;
    width: 50%;
    display: grid;
     grid-template-columns: 100px 100px 100px 100px ;
    padding: 15px 0;
    perspective: 1000px; /* 3D depth */
    background-color: brown;
    justify-content: space-evenly;
}

.cards{
    width: 120px;
    height: 120px;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.8s;
}

/* Flip and stay flipped on hover */
/* .cards:hover .card-inner{
    transform: rotateY(180deg);
} */

.card-inner-flip{
    transform: rotateY(180deg);
}

.card-front,
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    font-size: 2rem;
    font-weight: bold;
}

/* Front Side */
.card-front{
    background: #3498db;
    color: white;
}

/* Back Side */
.card-back-red{
    background: #e74c3c; /* different color */
    transform: rotateY(180deg);
}
.card-back-green{
    background: green; /* different color */
    transform: rotateY(180deg);
}
.card-back-yellow{
    background: yellow; /* different color */
    transform: rotateY(180deg);
}
.card-back-aqua{
    background: aqua; /* different color */
    transform: rotateY(180deg);
}
.card-back-gray{
    background: gray; /* different color */
    transform: rotateY(180deg);
}
.card-back-purple{
    background: purple; /* different color */
    transform: rotateY(180deg);
}

.reset-btn{
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    background-color: gray;
    font-size: medium;
    cursor: pointer;
}
.reset-btn:active{
    scale: 1.01;
}
.start-btn{
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    background-color: gray;
    font-size: medium;
    cursor: pointer;
}
.start-btn:active{
    scale: 1.01;
}